<!DOCTYPE html>
<html>
<head>
	<title>Incredibles</title>
</head>
<body>
	<h1>Incredible Family</h1>
	<ul>
	<% for (let i = 0; i < incredibles.length; i++) { %>
		<li><%= incredibles[i].name %></li>
		<li><%= incredibles[i].power %></li>
	<form action="/incredibles/<%=i%>?_method=DELETE" method="POST">
		<button type='Submit'>Delete</button>
	</form>
	<%}%>
	</ul>

</body>
</html>