<!DOCTYPE html>
<html>
<head>
	<title>Incredibles</title>
</head>
<body>
	<h1>Incredible Family</h1>
	<% for (let i = 0; i < incredibles.length; i++) { %>
		<%= incredibles[i].name %>
		<%= incredibles[i].power %>
	<%}%>

</body>
</html>